/* 菜单样式 */
.nav {
    padding-top:13px;
    background-color: #fff;
}
.nav .am-flexbox-item {
    text-align: center;
}
.nav img {
    height: 48px;
}

.nav p {
   	margin: 8px 0 10px;
    font-size: 13px;
}